<h1>Portfolio Items!!</h1>

<hr color="grey">

<h2>Heres some items:</h2>

<hr width="50%" align="left">
<%= link_to "Create new Item!!", new_portfolio_path %>
<hr width="50%" align="left">


 <%= render partial: 'port', collection: @ports %> 



<%= link_to "Back", root_path, method: :get %>


