

          

<div class="inner cover">
  <svg class= "welcome-text" viewBox="0 0 960 300">
    <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="80%">Welcome</text>
    </symbol>

    <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
    </g>
</svg>
  <p class="lead typed-text">Please take a look around my site</p>
  <p class="lead">
    <%=link_to "Learn More", about_me_path,  class: "btn btn-lg btn-success" %>
  </p>



</div>

          
       