// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  
font-family: cursive;



}


table {
  
border: 3px blue solid;


}

th {
  
background-color: yellow;

}

td {
  
  border: 1px  white solid;
}

.title {
  
background-color: red;

}

body {
  
  background-color: pink;

}
.bottom a {
  
  color: white;



}

